aws_statemachine_code.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Agent1: Stock Search Agent",
  "States": {
    "Agent1: Stock Search Agent": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:ap-southeast-2:686255953271:function:z_ec_lambda_agent_1:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Agent 2: Data Fetching Agent"
    },
    "Agent 2: Data Fetching Agent": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:ap-southeast-2:686255953271:function:z_ec_lambda_agent_2:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Agent 3: Data Saving Agent"
    },
    "Agent 3: Data Saving Agent": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:ap-southeast-2:686255953271:function:z_ec_lambda_agent_3:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Agent 4: Data Analysis Agent"
    },
    "Agent 4: Data Analysis Agent": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:ap-southeast-2:686255953271:function:z_ec_lambda_agent_4:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Parallel"
    },
    "Parallel": {
      "Type": "Parallel",
      "End": true,
      "Branches": [
        {
          "StartAt": "Notification Queue",
          "States": {
            "Notification Queue": {
              "Type": "Task",
              "Resource": "arn:aws:states:::sqs:sendMessage",
              "Parameters": {
                "MessageBody.$": "$",
                "MessageGroupId": "defaultGroup",
                "MessageDeduplicationId.$": "States.UUID()",
                "QueueUrl": "https://sqs.ap-southeast-2.amazonaws.com/686255953271/z_ec_report.fifo"
              },
              "ResultPath": "$.sqsOutput",
              "Next": "Mail Notification"
            },
            "Mail Notification": {
              "Type": "Task",
              "Parameters": {
                "Destination": {
                  "ToAddresses": [
                    "deepak@iiitkalyani.ac.in"
                  ]
                },
                "Content": {
                  "Raw": {
                    "Data.$": "States.Format('Content-Type: multipart/related; boundary=\"boundary\"\r\nMIME-Version: 1.0\r\nSubject: {}\r\nFrom: sender@example.com\r\nTo: recipient@example.com\r\n\r\n--boundary\r\nContent-Type: text/html; charset=UTF-8\r\nContent-Transfer-Encoding: 7bit\r\n\r\n<html><body><h1>Hello {}</h1><p>Here is the image:</p><img src=\"cid:image1\" alt=\"Base64 Image\" /></body></html>\r\n\r\n--boundary\r\nContent-Type: image/png; name=\"image.png\"\r\nContent-Transfer-Encoding: base64\r\nContent-Disposition: inline; filename=\"image.png\"\r\nContent-ID: <image1>\r\n\r\n{}\r\n--boundary--', $.best_performer, $.best_performer, $.viz)"
                  }
                },
                "FromEmailAddress": "deepak@iiitkalyani.ac.in"
              },
              "Resource": "arn:aws:states:::aws-sdk:sesv2:sendEmail",
              "End": true
            }
          }
        },
        {
          "StartAt": "Store Reports",
          "States": {
            "Store Reports": {
              "Type": "Task",
              "Resource": "arn:aws:states:::dynamodb:putItem",
              "Parameters": {
                "TableName": "z_ec_ddb",
                "Item": {
                  "report": {
                    "S.$": "States.UUID()"
                  },
                  "data": {
                    "S.$": "States.JsonToString($)"
                  }
                }
              },
              "End": true
            }
          }
        }
      ]
    }
  }
}